@font-face {
    font-family: 'Roboto';
    src: url(./Roboto-Regular.ttf);
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    background-color: #1F2937;
    margin:0;  
}

/* header section */
a {
    text-decoration: none;
    color: #E5E7EB;
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.header > .title{
    font-size: 20px;
    color: #F9FAF8;
    margin: 0;
}

.header > .links{
    display: flex;
    align-items: center;
    gap: 20px
}


/* content section */

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

h2{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 30px;
    margin: 5px;
}

.box1 > .left > p{
    color: white;
    margin: 5px;
}

.content > .box1{
    display: flex;
    margin: 30px 50px 50px 50px;
    gap: 30px;
    justify-content: center;
}
.content > .box1 > .left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    flex: 1;
    padding: 0;
}

.content > .box1 > .right{
    display: flex;
    justify-content: center;
    width: 400px;
    height: auto;
}

.right > input{
    width: 100%;
    text-align: center;
    background-color: gray;
    border: gray;
    border-radius: 2px;
}

::placeholder{
    color: white;
}

.box1 > .left > button{
    background-color: #3882F6;
    border: #3882F6;
    border-radius: 5px;
    color: white;
    margin: 5px;
    padding: 2px 10px;

}

.content > .box2{
    background-color: white;
}

.footer{
    display: flex;
}